#sec01{
	background-color: black;			
	height: 300%;
	position: relative;	
}
.img{
	padding: 10px 0 0 50px;
}
.img img{
	position: absolute;
	float: left;
	width: 20%;
}
.img1{
	padding: 0px 0 0 450px;
}
.img1 img{
	position: absolute;
    float: left;
    width: 15.7%;
}
.img2{
	padding: 0px 0 0 785px;
}
.img2 img{
	position: absolute;
	float: left;
	width: 20%;
}
.img3{
	padding: 0px 0 0 1170px;
}
.img3 img{
	position: absolute;
	float: right;
	width: 20%;
}
.img4{
	padding: 520px 0 0 50px;
}
.img4 img{
	position: absolute;
	float: left;
	width: 19.9%;
}
.img5{
	padding: 0px 0 0 420px;
}
.img5 img{
	position: absolute;
    float: left;
    width: 20%;
}
.img6{
	padding: 0px 0 0 785px;
}
.img6 img{
	position: absolute;
	float: left;
	width: 19%;
}
.img7{
	padding: 0px 0 0 1170px;
}
.img7 img{
	position: absolute;
	float: right;
	width: 19.5%;
}
.img8{
	padding: 520px 0 0 50px;
}
.img8 img{
	position: absolute;
	float: left;
	width: 19.9%;
}
.img9{
	padding: 0px 0 0 420px;
}
.img9 img{
	position: absolute;
    float: left;
    width: 20%;
}
.img10{
	padding: 0px 0 0 785px;
}
.img10 img{
	position: absolute;
	float: left;
	width: 19%;
}
.img11{
	padding: 0px 0 0 1170px;
}
.img11 img{
	position: absolute;
	float: right;
	width: 19.5%;
}
.img12{
	margin: 520px 0 0 55px;
}
.img12 img{
	position: absolute;
	float: left;
	width: 19.9%;
}
.img13{
	padding: 0px 0 0 420px;
}
.img13 img{
	position: absolute;
    float: left;
    width: 20%;
}
.img14{
	padding: 0px 0 0 785px;
}
.img14 img{
	position: absolute;
	float: left;
	width: 19%;
}
.img15{
	padding: 0px 0 0 1170px;
}
.img15 img{
	position: absolute;
	float: right;
	width: 19.5%;
}
#sec01 a{
	position: absolute;
	font-size: 15px;
}
.link1 a{
	margin: -1085px 0 0 165px;
}
.link2 a{
	margin: -1085px 0 0 540px;
}
.link3 a{
	margin: -1085px 0 0 800px;
}
.link4 a{
	margin: -1085px 0 0 1200px;
}
.link5 a{
	margin: -600px 0 0 125px;
}
.link6 a{
	margin: -600px 0 0 540px;
}
.link7 a{
	margin: -600px 0 0 875px;
}
.link8 a{
	margin: -600px 0 0 1290px;
}
.link9 a{
	margin: -55px 0 0 155px;
}
.link10 a{
	margin: -55px 0 0 530px;
}
.link11 a{
	margin: -55px 0 0 870px;
}
.link12 a{
	margin: -55px 0 0 1310px;
}
.link13 a{
	margin: 470px 0 0 205px;
}
.link14 a{
	margin: 470px 0 0 515px;
}
.link15 a{
	margin: 470px 0 0 885px;
}
.link16 a{
	margin: 470px 0 0 1210px;
}
.button2{
	padding: 500px 0 0 1400px;
}