#sec01{
	background: black;
	color: red;
	height: 100%;
}
.first{
    text-align: center;
    padding: 100px 0 0 0;
    font-size: 30px;
}
#sec01 table{
	margin: 75px 0 0px 500px;
    font-size: 20px;
}
.button01{
	padding: 60px 0 0 662px;
}
.button02{
	margin: -37px 0 0 810px;
}
.button02 a{
	color: grey;
}