#sec01{
	background: black;
	color: red;
	text-align: center;
	height: 100%;    
	padding: 30px;
}
#sec01 i{
	color: white;
}
.icon1{
	margin: 20px 1149px 0 0;
	font-size: 20px;
}
.first{
	margin: -30px 0 0 0;
    font-size: 62px;
}
.button01{
	margin: 40px 0 0 0 ;
}
#sec01 button{
    padding: 15px 35px 15px 35px;
    color: white;
}
.second img{
	width: 60%;
}	
.second{
	float: left;
	margin: 55px 0 0 0;
}
.second1 img{
	width: 29%;
}	
.second1{
	float: left;
    margin: 55px 0 0 -149px;
}	
.second2 img{
	width: 22%;
}	
.second2{
	float: left;
    margin: -352px 0 0 380px;
}	
.second3 img{
	width: 20%;
}	
.second3{
    float: right;
    margin: -354px -368px 0 744px;
}	
.link1{	
	font-size: 18px;
	float: left;
    margin: 5px 0 0 150px;
}
.link2{
	font-size: 18px;
	float: left;
    margin: 5px 0 0 285px;
}
.link3{
	font-size: 18px;
	float: left;
    margin: 5px 0 0 135px;
}
.link4{
    font-size: 18px;
    float: left;
    margin: 3px 0 0 70px;
}
.button2{
	margin: 505px 0 0 1374px;
}