#section div img{
	width: 300px;
	margin-top: 80px;
	margin-left: 100px;
}
.video{
	margin-top: -470px;
	margin-left: 650px;
}
.text1{
	margin-left: 500px;
	margin-top: 70px;
}
.button1{
	padding: 10px 20px;
	float: right;
	margin-right:-150px;
	margin-top: -20px;
	border-radius: 5px;
	border: 0;
	background-color: white;
	margin-bottom: 30px;
}
.button1 a{
	text-decoration: none;
	color: black;
}
.button{
	padding: 10px 20px;
	float: right;
	margin-right: 150px;
	border-radius: 5px;
	border: 0;
	background-color: white;
	margin-bottom: 30px;
}
.button a{
	text-decoration: none;
	color: black;
}