body{
	background-color: black;
	width: 100%;
	height: 100%;
}
#section1 div h1{
	color: white;
	font-size: 30px;
	text-align: center;
}
.sec{
	border-radius:5px;
	border: 1px solid white;
	height: 500px;
	width: 80%;
	margin: auto;
	margin-top: 100px;
}
.sec p{
	color: white;
	margin-left: 20px;
}
.button{
	padding: 10px 30px;
	margin-left: 70px;
	border: 0;
	border-radius: 5px;
	margin-top: 20px;
}
.button a{
	text-decoration: none;
	color: black;
}
.button1{
	padding:10px 30px;
	float: right;
	background-color: white;
	margin-right: 180px;
	margin-top: 30px;
	border-radius: 5px;
}
.button1 a{
	text-decoration: none;
	color: black;
}