/***** container *****/

.container{
	width: 100%;
	height: 2000px;
	margin: auto;
	background-color: black;
	color: white;
}


/************************/

.title{
	width: 300px;
	font-size: 30pt;
	font-size: 40pt;
	margin-top: -10px;
	margin-left: 100px;
}

.title a{
	color: white;
}

.content{
	text-align: center;
}

/***** header *********/

.header{
	margin-top: -40px;
	margin-left: 460px;
}

.header p{
	display: inline;
	padding-left: 40px;
	font-size: 17px;
	
}

/*******************************/

.header01{
	width: 100%;
	height: 300px;
	margin-top: 70px;
	padding-top: 35px;
	background-color: #1F1F1F;
}

.header01 h1{
	margin-left: 550px;
	font-size: 35pt;
	font-family: serif;
	color: white;
}

.header01 h4{
	margin-left: 550px;
	font-size: 20px;
}


.img03{
	margin-top: -250px;
	margin-left: 130px;
}

.buy{
	margin-top: -150px;
	margin-left: 550px;
}